@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Kanit', sans-serif;
  font-family: 'Roboto', sans-serif;
}
body{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}